#formulaire{
    border: solid 1px black;
    padding : 5% 5% 2% 5%;
    margin: 5% 10%;
    border-radius: 20px;
}

button{
    margin-left: 40%;
}

#inscription{
    padding-top: 10px;
    margin-left: 35%;
}

#inscription a{
    text-decoration: none;
}
